<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hackathon</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Game Map
            </NavLink>
        </div>

        <div class="nav-item px-3 dropdown-area">
            <NavLink class="nav-link dropdown-toggle" href="cards" @onclick="ToggleCards">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cards
            </NavLink>

            @if (showCards)
            {
                <div class="sub-nav">
                    <NavLink class="nav-link sub-link" href="cards#basic">Basic Cards</NavLink>
                    <NavLink class="nav-link sub-link" href="cards#special">Special Cards</NavLink>
                    <NavLink class="nav-link sub-link" href="cards#event">Event Cards</NavLink>
                </div>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showCards = false;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleCards() // ✅ 新增方法
    {
        showCards = !showCards;
    }
}
